NODE_ENV=development
PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
ACCESS_JWT_SECRET=JWT_ACCESS_AUTHENTICATION_PART_SIGNATURE_VERIFICATION
JWT_EXPIRES_IN=1d
DATABASE_URL=postgresql://postgres:Pos123%40%26@localhost:5432/Book_Meeting_Room_OpenCode
